.body{
    width: 100%;
    line-height: 1.5;
    font-family: verdana,arial,helvetica,sans-serif;
    color: #333;
    letter-spacing: 0;
}

.header_wrapper{
    border-bottom: 1px solid #E1E1E1;
    width: 100%;
}

.header {
    font-weight: bold;
    padding-top: 10px;
    height: 30px;
}

.header_left {
    font-size: large;
    float: left;
}

.header_right {
    float: right;
}

.header_right a {
    margin-right: 20px;
}

.banner{
    text-decoration: none;
    color: #333;
}

.content {
    width: 80%;
    margin: 0 auto;
}

.main {
    padding-top: 40px;
    margin-left: 5%;
    margin-right: 5%;
}

.footer_margin {
    height: 40px;
}

.footer_height {
    height: 20px;
}

.footer_wrapper{
    border-top: 1px solid #E1E1E1;
    background: #FFFFFF;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer_wrapper .footer {
    font-size: x-small;
    text-align: center;
}

.clear{
    clear:both;
}

.left{
    float: left;
}

.right{
    float: right;
}

h1 {
    font-size: x-large;
    margin-bottom: 5px;
    margin-top: 30px;

    margin-left: -15px;
    padding-left: 10px;
    border-left: thick solid rgba(255, 153, 0, 0.81);
    border-bottom: thin solid rgba(255, 153, 0, 0.81);
}

h2 {
    font-size: x-large;
    margin-top: 20px;
    margin-bottom: 5px;

    margin-left: -15px;
    padding-left: 15px;
    border-bottom: thin solid rgba(255, 153, 0, 0.81);
}

h3 {
    margin-top: 20px;
    margin-bottom: 5px;

    margin-left: -15px;
    padding-left: 15px;
}

li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: disc;
}

ul {
    padding-left: 10px;
    padding-bottom: 10px;
}

a {
    color: #333;
    text-decoration: none;
}
