.categories{
    margin-top: 100px;
}

.all_categories {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.category_names{
    font-weight: bold;
}

.category_name{
    float: left;
    margin-left: 10px;
    text-decoration: underline;
    font-weight: normal;
    color: #000;
}

.h_list{
    float: right;
}

.h_list li {
    font-weight: bold;
    list-style: none;
    margin-right: 20px;
    border-left: none;
    float: left;
}