.post_list .archives {
    text-decoration: underline;
}


.post_list h2{
    margin-top: 10px;
    font-size: x-large;
    font-weight: normal;
}

.post_list .posts{
    font-size: medium;
    margin-left: 5%;
    margin-top: 20px;
}

.post_list .posts .post_item{
    list-style: none;
    margin-bottom: 20px;
    border-left: 3px solid rgba(255, 153, 0, 0.81);
}

.post_list .entry_title{
    margin-left: 10px;
}

.post_list a {
    color: #000;
    font-weight: 900;
}

.post_list a:visited {
    color: #555;
}

.post_data{
    font-size: small;
    float: left;
    margin-left: 10px;
    color: #000;
}

.post_data a {
    text-decoration: underline;
    font-weight: normal;
    color: #000;
}

.post_data a:hover{
    color: rgba(255, 153, 0, 1.0);
    text-decoration:underline;
}

.separator{
    font-size: small;
    float: left;
    margin-left: 10px;
    margin-right: 0;
}

.categories h3{
    margin-left: 20px;
}

.pagination li{
    list-style: none;
    float: left;
    margin-left: 5px;
    border-left: none;
}