.article{
    font-size: 16px;
}

.article .post_title{
    padding-bottom: 20px;
    margin-left: -10px;
}

.article .post_title h1{
    margin-left: 10px;

    width: 100%;
    padding-left: 0;
    border-left: none;
    border-bottom: none;
}

.article .post_title h5{
    font-weight: bold;
    margin-bottom: 0;
}

.article a{
    text-decoration: underline;
}

.article_body li{
    margin-left: 5px;
}

#toc {
    padding-left: 15px;
    float: right;
}

#toc #toc_body{
    background-color: #F9F9F9;
    border: 1px solid #AAAAAA;
    font-size: 95%;
    padding-right: 10px;
}

#toc #toc_index {
    font-weight: bold;
    text-align: center;
}

#toc ul {
    padding-bottom: 0;
}

#toc li {
    list-style: decimal inside;
}

.social_buttons {
    margin-top: 50px;
}